@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
}

.contents {
    align-items: center;
    flex-direction: column;
    max-width: 1240px;
    margin-top: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    flex-grow: 1;
    width: 100%;
}