.staff {
  position: relative;
  min-height: 150px;
}

@media only screen and (max-width: 600px) {
  .staff {
    scale: 0.8;
    width: 120%;
    transform: translateX(-10%);
  }
}

.staff__text {
  position: absolute;
  top: 0;
}

.staff__text__title {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.staff__vexflow-container {
  position: relative;
  margin-top: 24px;
  background-color: #fafafa;
  border-radius: 4px;
  overflow: hidden;
}

.staff__vexflow-container svg {
  display: block;
}

.vexflow-staff-container {
  min-height: 120px;
}
