header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header__content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.notation-selector {
    display: flex;
    align-items: center;
}